/* ---------Илья---------- */
.frag_1_div_1{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(220, 220, 220); */
    display: flex;
    justify-content: center;
}
#background_video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.frag_1_div_1_text_Tyu{
position: absolute;
width: 111px;
height: 32px;
left: 140px;/*calc(25% - 513px/2 - 0.5px); */
top: 107px;/*calc(10% - 90px/2 - 0.5px);; */
background-color: aliceblue;
padding: 10px;
border-radius: 15px;

font-family: 'Playfair';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 100%;
/* identical to box height, or 32px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


}
.frag_1_div_1_1{
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    height: 80%;
    background-color: azure;
    margin-top: 5%;
    border-radius: 24px;
    margin-left: 50%;
    /* margin-top: 1%; */
}
.frag_1__div_img_9_may{
    display: flex;
    justify-content: center;
    /* margin-bottom: 10%; */
    
}
.frag_1_img_9_may_img{
width: 134px;
height: 189px;



}
.frag_1_text_imortal{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
    
}
.frag_1_text_imortal_img{
width: 394px;
height: 152px;
}
.frag_1_reverse_time{

/* display: flex; */
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 36px;
/* margin-bottom: 15%; */





}
.frag_1_reverse_time_div_time{
display: flex;
flex-direction: row;

padding: 0px;
gap: 60px;

width: 449px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.frag_1_reverse_time_text{
    width: 449px;
    height: 32px;

    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.5px;

    color: #FBBF24;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.frag_1_reverse_time_div_time_text_days ,.frag_1_reverse_time_div_time_text_hours, .frag_1_reverse_time_div_time_text_minuts, .frag_1_reverse_time_div_time_text_secs{
width: 61px;
height: 48px;

font-family: 'Playfair';
font-style: normal;
font-weight: 800;
font-size: 48px;
/* line-height: 100%; */
/* identical to box height, or 48px */
/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #ED1C24;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 0px;

}
.frag_1_reverse_time_div_time_text_down{

width: 61px;
height: 24px;

font-family: 'Playfair';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.frag_1_reverse_time_div_time_div_withTimeText{
display: flex;
flex-direction: column;
justify-content: center;
}




.frag2_body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    display: flex;
    justify-content: center; /* центрирование по горизонтали */
    align-items: center;  
}

.frag_2_div_1 {
    width: 85.4%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.frag_2_div_2_shapka {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    height: 92px;
}

.frag_2_text_1 {
    color: #3E1A16;
    font-family: "Playfair", serif;
    text-align: center;
    font-weight: 800;
    font-style: ExtraBold;
    letter-spacing: -0.5px;
    font-size: 48px;
    margin: 0;
}

.frag_2_text_2 {
    color: #3E1A16;
    text-align: center;
    font-size: 32px;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: -0.5px;
    font-style: light;
}

.frag_2_div_3_container {
    margin-top: 48px;
    height: 100%;
    width: auto;
    display: flex;
}

.frag_2_div_4 {
    width: 49.39%;
    
    margin-right: 1.22%;
}

.frag_2_div_5_photo {
    width: 49.39%;
    display: flex;
}

.photo_soldati {
    width: 100%;
}

.lebedi {
    width: 82px;
    margin-bottom: 32px;
}

.text_div_4_1 {
    color: #4A4A4A;
    font-size: 16px;
    margin-bottom: 32px;
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular;
    font-variation-settings: "wdth" 100;
    letter-spacing: -0.5px;
    
}

.text_div_4_1_2 {
    color: #3E1A16;
    font-size: 16;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: Regular;
    font-variation-settings: "wdth" 100;
    letter-spacing: -0.5px; 
}

.text_div_4_2 {
    font-size: 16px;
    color: #991B1B;
    margin-bottom: 32px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular;
    font-variation-settings: "wdth" 100;
    letter-spacing: -0.5px;
}

.frag_2_div_4_1_container {
    height: 186px;
    display: flex;
    justify-content: space-around;
}

.frag_2_div_4_1_participants {
    height: 186px;
    width: 27.65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frag_2_div_4_1_cities {
    height: 186px;
    width: 19.63%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frag_2_div_4_1_histories {
    height: 186px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zaglushka {
    height: 82px;
    width: 82px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.text_div_4_1_participants_1, .text_div_4_1_cities_1, .text_div_4_1_histories_1 {
    color: #ED1C24;

    font-family: "Playfair", serif;
    text-align: center;
    font-weight: 800;
    font-style: ExtraBold;
    letter-spacing: -0.5px;
    font-size: 48px;
    margin: 0;
}

.text_div_4_1_participants_2, .text_div_4_1_cities_2, .text_div_4_1_histories_2 {
    color: #3E1A16;
    height: 24px;

    font-family: "Playfair", serif;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin-top: 0;
}








.frag_3_div_1{
    width: 100%;
    height: 950px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.frag_3_div_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.frag_3_div_text_1{
    /* Истории героев Бессмертного полка */

/* width: 758px; */
height: 48px;
margin-bottom: 5px;

font-family: 'Playfair';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 100%;
/* identical to box height, or 48px */
text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.frag_3_div_text_2{
    /* Каждая фотография — это история о подвиге, мужестве и любви к Родине */

/* width: 758px; */
height: 64px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 100%;
/* or 32px */

text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.frag3_div_2{
    height: 643px;
    display: flex;
    margin-bottom: 15px;
}
.frag3_div_2_hero_1, .frag3_div_2_hero_2, .frag3_div_2_hero_3, .frag3_div_2_hero_4, .frag3_div_2_hero_5{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.frag3_div_2_hero_img{
    /* img */

width: 100%;
height: 80%;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
.frag3_div_2_hero_famaly{

width: 192px;
height: 24px;

font-family: 'Playfair';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: -0.5px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 5px;

}
.frag3_div_2_hero_name{

width: 100%;
height: 20px;

font-family: 'Playfair';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */

text-align: center;
letter-spacing: -0.5px;

color: #18181B;


/* Inside auto layout */
flex: none;
order: 1;

flex-grow: 0;
margin-top: 5px;

}
.frag3_div_2_hero_btn{

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 395px;
height: 40px;

border: 2px solid #991B1B;
color: #991B1B;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */
text-align: center;



}
.frag3_div_2_hero_btn:hover{
/* Btn */

box-sizing: border-box;


background: #991B1B;
color: white;
border: 1px solid #991B1B;



}

.gallery-container {
  width: 100%;
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
overflow-y: hidden; /* Убираем вертикальную прокрутку */
    scroll-behavior: smooth; /* Добавляем плавность */
  cursor: grab;
  white-space: nowrap;
}



/* ---------Дима---------- */
/* ---------Дима конец---------- */
