/* ---------Илья---------- */
.frag_1_div_1{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(220, 220, 220); */
    display: flex;
    justify-content: center;
}
#background_video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.frag_1_div_1_text_Tyu{
position: absolute;
width: 111px;
height: 32px;
left: 140px;/*calc(25% - 513px/2 - 0.5px); */
top: 107px;/*calc(10% - 90px/2 - 0.5px);; */
background-color: aliceblue;
padding: 10px;
border-radius: 15px;

font-family: 'Playfair';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 100%;
/* identical to box height, or 32px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


}
.frag_1_div_1_1{
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    height: 80%;
    background-color: azure;
    margin-top: 5%;
    border-radius: 24px;
    margin-left: 50%;
    /* margin-top: 1%; */
}
.frag_1__div_img_9_may{
    display: flex;
    justify-content: center;
    /* margin-bottom: 10%; */
    
}
.frag_1_img_9_may_img{
width: 134px;
height: 189px;



}
.frag_1_text_imortal{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
    
}
.frag_1_text_imortal_img{
width: 394px;
height: 152px;
}
.frag_1_reverse_time{

/* display: flex; */
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 36px;
/* margin-bottom: 15%; */





}
.frag_1_reverse_time_div_time{
display: flex;
flex-direction: row;

padding: 0px;
gap: 60px;

width: 449px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.frag_1_reverse_time_text{
    width: 449px;
    height: 32px;

    font-family: 'Playfair';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.5px;

    color: #FBBF24;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.frag_1_reverse_time_div_time_text_days ,.frag_1_reverse_time_div_time_text_hours, .frag_1_reverse_time_div_time_text_minuts, .frag_1_reverse_time_div_time_text_secs{
width: 61px;
height: 48px;

font-family: 'Playfair';
font-style: normal;
font-weight: 800;
font-size: 48px;
/* line-height: 100%; */
/* identical to box height, or 48px */
/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #ED1C24;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 0px;

}
.frag_1_reverse_time_div_time_text_down{

width: 61px;
height: 24px;

font-family: 'Playfair';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: -0.5px;

color: #3E1A16;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
.frag_1_reverse_time_div_time_div_withTimeText{
display: flex;
flex-direction: column;
justify-content: center;
}

.frag_2_div_1{
    width: 100%;
    height: 1024px;
    background-color: white;
}
/* ---------Илья конец---------- */






/* ---------Дима---------- */
/* ---------Дима конец---------- */
